.home-texto{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    flex-direction: row;
    columns: 2;

}

.home-texto img{
    max-width: 40%;
}

.home-texto p{
    padding-left: 2%;
    columns: 2;
}


@media only screen and (max-width: 900px) {
    .home-texto img {
      max-width: 90%;
      align-items: center;
      justify-content: center;
      border-radius: 5%;
      margin-left: 5%;
      margin-top: 5%;
      margin-bottom: 5%;
      
    }
  }


  @media only screen and (max-width: 900px) {
    .home-texto p {
     columns: 1;
     padding-top: 5%;
    }
  }


  @media only screen and (max-width: 900px) {
    .home-texto  {
     columns: 1;
     display: flex;
     flex-direction: column;
    }
  }
    /* @media only screen and (max-width: 900px) {
        .carousel-inner  {

            padding-top: 17%;
            height: 400px;
            width: 515px;
            padding-left: 1%;
            padding-right: 1%;
        }
      } */
    

      .section-title{
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        font-weight: 400;
        margin-bottom: 5%;
      }

.iconos{
    display: flex;
    flex-direction: row;
    max-width: 200px;
    margin-left: 42%;
    align-items: center;
    justify-content: center;
    
}

.iconos img{
    max-width: 200px;
    padding: 3%;
    border-radius: 5%;
}

.iconos img:hover {
    filter: opacity(0.9);
    transition: transform 0.3s ease-in-out;
    transform: scale(1.06);

}


@media only screen and (max-width: 900px) {
    .iconos  {
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        justify-content: center;
        align-items: center;
        
    }
  }

  @media only screen and (max-width: 900px) {
    .iconos img  {
       border-radius: 100%;
       padding: 4%;
       max-width: 250px; 
    }
  }


  .navi{
    background-color: rgba(255, 255, 255, 0.834);
  }

 .navi a{
    color: rgb(47, 47, 47);
    font-weight: 400;
 }

  @media only screen and (max-width: 900px) {
    .container  {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
  }

  


  @media only screen and (max-width: 900px) {
    .noni  {
        display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin-left: 28%;
    letter-spacing: 5px;
    padding-bottom: 2%;
    }
  }

  @media only screen and (max-width: 1500px) {
    .alternativa img  {
    display: none;
    }
  }


  
  @media only screen and (max-width: 900px) {
    .alternativa img  {
    display: grid;
    place-content: center;
    max-width: 90%;
    margin-top: 25%;
    margin-left: 5%;
    margin-bottom: 10%;
    }
  }
  

  @media only screen and (max-width: 900px) {
    .slayer  {
    display: none;
    }
  }